body{
	font-family: Arial;
}
nav{
	background: #E8E8E8;
	border: 1px	solid #E0E0E0;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: left;
	width: 100%;
	left: 0;
	position: fixed;
	top: 0;
}
/*nav ul{
	list-style: none;
	position: relative;
}
nav li{
	display: inline-block;
}*/
/*.right_text, .left_text{
	text-decoration: none;
}*/
.text{
	text-decoration: none;
	font-size:	large;
}
.text:hover{
	text-decoration: underline;
}
.left_text{
	color: black;
}
.right_block{
	display: inline-block;
	position: absolute;
	right: 35px;
}
.right_text{
	padding-right: 10px;
}

.search_block{
	position: relative;
	padding-top: 80px;
	padding-left: 70px;
}
.search_box{
	border-radius: 4px;
	border: 1px solid #ccc;
	padding: 5px;
	padding-left: 10px;
	width: 400px;
	font-size: medium;
	box-sizing: border-box;
	display: inline-block;
	position: relative;

}
.search_icon{
	width: 28px;
	border: 1px solid #ccc;
	border-radius: 4px;
	display: inline-block;
	position: relative;
	/*left: 5px;*/
	top: 10px;
}

.pages{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	display: inline-block;
	text-align:	middle;

}

.page_middle{
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.page_move{
	font-size: 0;
	border-radius: 4px;
	border: 1px	solid #ccc;
	width: 350px;
	/*padding-left: 10px;
	padding-right: 10px;*/
}
.results{
	padding: 0px;
	padding-top: 20px;
}
.results_entry{
	list-style: none;
	padding-bottom: 10px;
	padding-top: 10px;
}

.result_date, .location{
	color: gray;
	padding-right: 10px;
}
.job_title{
	font-weight: bold;
	padding-right: 10px;
	text-decoration: none;
}

