nav {
	padding-left: 60px;
	padding-right: 60px;
	position: fixed;
	text-align: left;
	background-color: gray;
	width: 100%;
}

nav li {
	display: inline-block;
	position: relative;
	left: 60px;
}

nav .logo{
	border-radius: 50%;
	border: 1px solid black;
	left: 60px;
	height: 50px;	
	margin-top: 5px;
	margin-bottom: 5px;
	vertical-align: middle;
}
nav ul {
	display: inline-block;
	list-style: none;
}
nav li::after{
	content: ' |';
}
/*.background*/body{
	background: url(../images/outerspace_landscape.jpeg) no-repeat;
	background-size: cover;
	/*position: fixed;*/
	/*top: 0;*/
	/*left: 0;*/
}
main{
	padding-top: 90px;
	min-width: 1000px;
}
.dotted_box{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	border: 10px green dotted;
	width: 600px;
	height: 300px;
	margin-top: 150px;
}
.corner{
	width: 200px;
	height: 200px;
}
.spacecat{
	position: absolute;
	left: -100px;
	top: -100px;
}
.spacedog{
	position: absolute;
	right: -100px;
	bottom: -100px;
}

